# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
backend/venv/
.env

# VS Code
.vscode/

# Node
node_modules/

# React/Vite
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Cache
.cache/

# IDE
.idea/